<?xml version="1.0" encoding="utf-8"?>
<!--
    This file is automatically pushed by Simply.com, to assist in Let's Encrypt issuing and renewal. 
    
    Do not remove or modify this file.
-->
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <remove name="aspNetCore"/>
        </handlers>
        <rewrite>
            <rules>
                <clear />
                <!-- AcmeChallenge for Let's Encrypt -->
                <rule name="AcmeChallenge" stopProcessing="true">
                    <match url=".well-known/acme-challenge/(.*)" />
                    <action type="Rewrite" url=".well-known/acme-challenge/{R:1}.txt" appendQueryString="false" />
                </rule>
                <!-- SPA Fallback for Vue Router -->
                <rule name="SPA fallback" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
	    </rewrite>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="*"/>
        </authorization>
    </system.web>
</configuration>